.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
.home-hero-inner {
  display: grid;
}
 
.home-image1 {
  width: 100%;
  height: auto;
  display: block;
}
 
.home-card-image1 {
  background-image: url('https://images.pexels.com/photos/7222028/pexels-photo-7222028.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.home-card-image2 {
  background-image: url('https://images.pexels.com/photos/32771807/pexels-photo-32771807.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.home-card-image3 {
  background-image: url('https://images.pexels.com/photos/2843275/pexels-photo-2843275.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.home-icon30 {
  transform: rotate(270deg);
}
 
.home-icon32 {
  transform: rotate(90deg);
}
 
.home-card-image-slot1 {
  background-image: url('https://images.pexels.com/photos/6014324/pexels-photo-6014324.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.home-card-image-slot2 {
  background-image: url('https://images.pexels.com/photos/3363695/pexels-photo-3363695.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.home-card-image-slot3 {
  background-image: url('https://images.pexels.com/photos/7221654/pexels-photo-7221654.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.home-card-image-slot4 {
  background-image: url('https://images.pexels.com/photos/6806428/pexels-photo-6806428.jpeg?auto=compress&cs=tinysrgb&w=1500');
}
 
.home-container4 {
  display: none;
}
 
.home-container5 {
  display: contents;
}
 
.home-container6 {
  display: none;
}
 
.home-container7 {
  display: contents;
}
 
.home-container8 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon34 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text201 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
